<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--管理DAO组件-->
    <bean class="com.chenzf.dao.InterceptorDAOImpl" id="interceptorDAO"></bean>

    <!--管理Service组件-->
    <bean class="com.chenzf.service.InterceptorServiceImpl" id="interceptorService">
        <!--通过工厂管理DAO与Service组件-->
        <property name="interceptorDAO" ref="interceptorDAO"/>
    </bean>

    <!--注册通知类-->
    <bean class="com.chenzf.advices.RunningTimeAdvice" id="runningTimeAdvice"></bean>

    <!--配置切面-->
    <aop:config>
        <!--配置切入点：service下所有实现类的方法-->
        <aop:pointcut id="serviceAllMethod" expression="execution(* com.chenzf.service.*ServiceImpl.*(..))"/>
        <!--组装切面-->
        <aop:advisor advice-ref="runningTimeAdvice" pointcut-ref="serviceAllMethod"/>
    </aop:config>

</beans>